
{% extends "base.html" %} {% block content %}



<h1>Mobiteli</h1>
<p>dobrodosli na nasu stranicu</p>

<h3>Izaberite jednu od nasih odlicnih tarifa i mobitela</h3>

<h1>PRODAJA MOBITELA</h1>

<img src="static/slike/1.png" alt="slika" width="300" height="300">
<h2>Iphone X</h2>

<p>Najbolja M

149,00 kn

5 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

1000 minuta ili SMS poruka</p>

<p>Najbolja L

1,00 kn

10 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

5000 minuta ili SMS poruka</p>

<p>Najbolja XL

299,00 kn

30 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

5000 minuta ili SMS poruka</p>

<img src="static/slike/2.jpg" alt="slika" width="200" height="330">
<h2>OnePlus 6</h2>

<p>Najbolja M

149,00 kn

5 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

1000 minuta ili SMS poruka</p>

<p>Najbolja L

1,00 kn

10 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

5000 minuta ili SMS poruka</p>

<p>Najbolja XL

299,00 kn

30 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

5000 minuta ili SMS poruka</p>


<img src="static/slike/3.jpg" alt="slika" width="200" height="330">
<h2>Samsung Galaxy s10</h2>

<p>Najbolja M

149,00 kn

5 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

1000 minuta ili SMS poruka</p>

<p>Najbolja L

1,00 kn

10 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

5000 minuta ili SMS poruka</p>

<p>Najbolja XL

299,00 kn

30 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

5000 minuta ili SMS poruka</p>

<img src="static/slike/4.jpeg" alt="slika" width="300" height="330">
<h2>Huawei p20</h2>

<p>Najbolja M

149,00 kn

5 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

1000 minuta ili SMS poruka</p>

<p>Najbolja L

1,00 kn

10 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

5000 minuta ili SMS poruka</p>

<p>Najbolja XL

299,00 kn

30 GB po brzini do 350 Mbit/s
1 opcija bez naknade

neograničeni pozivi i SMS

5000 minuta ili SMS poruka</p>

<IMG src="static/slike/b.png" width="1400" >

{% endblock content %}